<div class="contenedor">

<form id='messageForm'>
    <div class="mb-1 col-auto" >
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="mb-1">
      <input type="nombre" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="mb-1">
      <input type="apellido" class="form-control" id="apellido" placeholder="Apellido">
    </div>
    <div class="mb-1">
      <input type="edad" class="form-control" id="edad" placeholder="Edad">
    </div>
    <div class="mb-1">
      <input type="alias" class="form-control" id="alias" placeholder="Alias">
    </div>
    <div class="mb-1">
      <input type="avatar" class="form-control" id="avatar" placeholder="Avatar">
    </div>
    <div class="mb-1">
      <input type="text" class="form-control" id="text" placeholder="Mensaje">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
