<form id='messageForm'>
    <div class="mb-1">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Jamas divulgaremos tu email</div>
    </div>
    <div class="mb-1">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="nombre" class="form-control" id="nombre">
    </div>
    <div class="mb-1">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="apellido" class="form-control" id="apellido">
    </div>
    <div class="mb-1">
      <label for="edad" class="form-label">Edad</label>
      <input type="edad" class="form-control" id="edad">
    </div>
    <div class="mb-1">
      <label for="alias" class="form-label">Alias</label>
      <input type="alias" class="form-control" id="alias">
    </div>
    <div class="mb-1">
      <label for="avatar" class="form-label">Avatar</label>
      <input type="avatar" class="form-control" id="avatar">
    </div>
    <div class="mb-1">
      <label for="text" class="form-label">Mensaje</label>
      <input type="text" class="form-control" id="text">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

